body {
    font-family: 'Roboto Mono', monospace;
}


#logo img{

    position:fixed;
    left:75px;
    top:40px;
    -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.8); /* FF3.5+ */
    -ms-transform: scale(0.8); /* IE9 */
    -o-transform: scale(0.8); /* Opera 10.5+ */
    transform: scale(0.8);
}

#logo-text h3{
    position:fixed;
    left:167px;
    top:55px;
}


.box{
position:fixed;
top:170px;
left:60px;
font-size:75%
}

#name{
    width: 28em; height: 13em;
    overflow: auto;
    border: 1px solid #000000;
    text-overflow:clip;
    margin:10px;
}

#text{
    width: 28em; height: 13em;
    overflow: auto;
    border: 1px solid #000000;
    text-overflow:clip;
    top:300px;
    margin:10px;
}

#products{
    width: 28em; height: 13em;
    overflow: auto;
    border: 1px solid #000000;
    text-overflow:clip;
    top:500px;
    margin:10px;
}

.box p{
margin:10px;}



.eft{
    display: block;
/*    background-color:#f9f9f9;  */
    width:20%;
    height:90%;
    float:left;
    border: 0px solid ;
    padding: 25px;
    position:fixed;

}

.input{
    position:absolute;
    float: right;
    top:300px;
    left:600px;

}

/* search box and submit button */
input[type=text] {
    width: 200%;
    padding: 9px 15px;
    margin: 8px 0px 8px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid ;

}

input[type=submit] {
    width: 30%;
    padding: 12px 12px;
    margin: 8px 0px 8px 0px;
    box-sizing: border-box;
    background-color: #3CBC8D;
    position:absolute;
    top:17px;
    right:-350px;
    color:white;
}


.output{
    display: block;
    position:absolute;
    top:400px;
    left:600px;
    background-color:#f9f9f9;
}

#language{
    display:block;
    padding: 10px 15px;

}

.buttonn {
    position: absolute;
    left: 750px;
    top:600px;

}

#button21{
    position:absolute;
    left: 200px;
    top:0px;
}



#button21 input[type=button] {
    background-color: red;
}


input[type=button] {
        width: 100%;

    padding: 7px 5px;
    margin: 5px 0px 5px 0px;
    box-sizing: border-box;
    background-color: #4CAF50;
    width:140%;
    height:140%;
    color:#fff;
}



.left{
    display: block;
    float:left;
    position:fixed;
    left:10px;
    top:220px;
    height:90%;
    width:23%;
    border: 1px solid ;
    padding: 25px;
    margin: 25px;
    margin-top:50px;
    display:flex;
}



.block{
    position:fixed;

    left:35px;
    top:257px;
    width:390px;

}

#title{
float:left;
display: inline-block;

}




#title1{
    font-size:70%;
    position:fixed;
    display: block;
    border: 1px solid ;
    width:200px;;
    height:40px;
    flex:1;
    top:200px;
    left:0px;
}

#title2{
    font-size:70%;
    position:fixed;
    display: block;
    border: 1px solid ;
    width:120px;;
    height:20px;
    flex:1;
    top:250px;
    left:100px;
}

#title1{
    font-size:70%;
    position:fixed;
    display: block;
    border: 1px solid ;
    width:120px;;
    height:20px;
    flex:1;
    top:250px;
    left:250px;

}


.screen{
    display: block;
    position:absolute;
    top:400px;
    height:155px;
    width:35%;
    left:700px;
    background-color:#f9f9f9;
}




.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    height:39px;
    width:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    z-index:1;
    left:596px;
    top: 395px;
}

.button2 {background-color: #008CBA;    top:434px;} /* Green */
.button3 {background-color: #f44336; top:490px;} /* Blue */
.button3 {background-color: #f44336; top:470px;} /* Red */
.button4 {background-color: #e7e7e7; color: black; top:510px;} /* Gray */
