<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>Reverie Transliteration</title>
            <link rel="stylesheet" href="{% static "css/transliteration_style.css" %}" />
            <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <!--        <script type="text/javascript" src="{% static "js/transliteration_style.js" %}"> </script>  -->

    </head>
    <body>
        <div id = "logo">
            <img src = "{% static "images/language.png" %}"
        </div>
        <div id ="logo-text"><h3>TRANSLITERATION</h3></div>


        <div class="box">
            <div id="name">
                <h3> <center>Names & Addresses</center></h3>
                <p>
                    <ul>
                        <li>Gazal Fashions Multicolor Georgette Saree</li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                    </ul>
                </p>
            </div>

            <div id="text">
                <h3> <center>Free Text (beta) </center></h3>
                <p>
                    <ul>
                        <li>Gazal Fashions Multicolor Georgette Saree</li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                    </ul>
                </p>
            </div>

            <div id="products">
                <h3> <center>Products</center> </h3>
                <p>
                    <ul>
                        <li>Gazal Fashions Multicolor Georgette Saree</li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                        <li>Gazal Fashions Multicolor Georgette Saree </li>
                        <li>Ayodhya Saree Black Georgette Saree</li>
                        <li>Natraj Blue Silk Saree</li>
                    </ul>
                </p>            </div>

        </div>



<!--
        <div class="left">
         <div class="block">
            <div id="title"> Names & Addresses </div
            <div id="title"> Free Text(beta) </div>
            <div id="title"> Products </div>

         </div>

        </div>

-->


        <div class="right">
            <div class = "input">
                Input text (beta) <br>
                <form action="" method="get">

                 <input placeholder="Enter Text to Translate" type="text" name="search">
                 <input id="submit" type = "submit" value="GO" name="submit" >
                 </form>
            </div>
            {% if output %}

            <button class="button">Hindi</button>
            <button class="button button2">Tamil</button>
            <button class="button button3">Kannada</button>
            <button class="button button4">Marathi</button>

          <!--

            <div class="output">


                <div id ="language">Hindi </div>
                <div id ="language">Tamil </div>
                <div id ="language">Kannada </div>
                <div id ="language">Marathi </div>
            </div>


            -->
            <div class= "screen">
            {{ output }}
            </div>
            <div class ="buttonn">
                <div id = "button11">
                    <input type="button" value="Love it!" name="like">
                </div>
                <div id ="button21">
                    <input type="button" value="No way!" name="dislike">
                </div>
            </div>
        </div>
        {% else %}
        {% endif %}

    </body>
</html>